fastapi==0.115.6
uvicorn[standard]==0.32.1
python-dotenv==1.0.1
pydantic==2.10.4
slowapi==0.1.10
httpx==0.28.1
pytest==8.3.4
pytest-anyio==0.0.0
anyio==4.7.0
git+https://github.com/EduardoStaudt/NNAdsorption_Library.git
